
Django>=5.0,<6.0
djangorestframework
psycopg2-binary   # درایور اتصال به پستگرس
django-filter     # برای فیلتر کردن (انجام شده، نشده و...)
drf-spectacular   # برای مستندات سواگر
djangorestframework-simplejwt
celery==5.4.0
redis==5.0.1
django-celery-beat>=2.7.0
python-decouple
pillow==12.0.0

# django-cors-headers  # Uncomment if you need CORS for a frontend


